doctype html
html
  include ../shared/meta-head.pug
  body
    .ora-page-container
      // Hero Section ----------------------------------------:
      .ora-hero.--ford
        .ora-hero-banner
          .ora-hero-logo
            img(src="../../assets/images/ora-logo.svg" alt="Offroad Addiction Logo")
          .ora-hero-bigtext
            img(src="../../assets/images/4x4-logo-primary.svg" alt="Build your dream 4x4")
          p
            |Our well-equipped in-house workshop bays and experienced certified auto technicians are ready to <b>build the Silverado of your dreams</b>.
          a.ora-btn.--light(href="http://offroadaddict.simplybook.me/" title="Book a free consultation")
            |  BOOK A FREE CONSULTATION
          p
            |Or call <b>1-877-309-7623</b> to book. Drop-ins also welcome at our St. Thomas, ON location!
      // Gallery Section ----------------------------------------:
      .ora-gallery
        .ora-gallery-threeblock
          .ora-title
            h2
              |OFFROAD READY
            .ora-title-line
          .ora-threeblock-blocks
            .ora-threeblock-block.--chevy-lift
              h3
                |LIFT<br/>KITS
            .ora-threeblock-block.--chevy-tire
              h3
                |TIRES
            .ora-threeblock-block.--chevy-steps
              h3
                |STEPS
        .ora-gallery-threeblock
          .ora-title
            h2
              |EXTERIOR
            .ora-title-line
          .ora-threeblock-blocks
            .ora-threeblock-block.--chevy-covers
              h3
                |TONNEAU<br/>COVERS
            .ora-threeblock-block.--chevy-bumpers
              h3
                |BUMPERS
            .ora-threeblock-block.--chevy-wheels
              h3
                |WHEELS
        .ora-gallery-cta
          .ora-gallery-cta-banner
          .ora-btn-box
            a.ora-btn.--light(href="http://offroadaddict.simplybook.me/" title="Book a free consultation")
              |  BOOK A FREE CONSULTATION
          p.ora-phone
            |Call <b>1-877-309-7623</b> to book.
      // About Section ----------------------------------------:
      .ora-about
        .ora-about-left
          .ora-about-blurb
            .ora-img-box
              img.ora-about-blurb-banner(src="../../assets/images/aftermarket-parts.png" alt="Aftermarket parts and accessories")
            p
              |We choose the products that are strong enough for life on the trails, with quality that matches our service. Long drive to our state-of-the-art facility? We’ll go to you, load your truck in our custom trailer, and bring it back just how you saw it in your dreams. Wait no more, book your free consultation now!
          .ora-about-list
            .ora-list-boxes.--left
              .ora-list-box
                h4.ora-list-box-title
                  |DRIVE TRAIN
                .ora-title-line
                ul
                  li
                    |drive train
                  li
                    |axle assembly
                  li
                    |axles &amp; gears
                  li
                    |brakes
              .ora-list-box
                h4.ora-list-box-title
                  |interior
                .ora-title-line
                ul
                  li
                    |interior accessories
                  li
                    |storage solution
                  li
                    |cargo storage
              .ora-list-box
                h4.ora-list-box-title
                  |exterior
                .ora-title-line
                ul
                  li
                    |exterior accessories
                  li
                    |front bumpers
                  li
                    |fenders &amp; flares
                  li
                    |lighting &amp; electrical
                  li
                    |soft tops &amp; accessories
                  li
                    |rear bumpers &amp; tire carriers
              .ora-list-box
                h4.ora-list-box-title
                  |rubber &amp; steel
                .ora-title-line
                ul
                  li
                    |tires
                  li
                    |wheels
            .ora-list-boxes.--right
              .ora-list-box
                h4.ora-list-box-title
                  |suspension
                .ora-title-line
                ul
                  li
                    |suspension lift kits
                  li
                    |body lift kits
                  li
                    |steering &amp; stabilizers
              .ora-list-box
                h4.ora-list-box-title
                  |armor
                .ora-title-line
                ul
                  li
                    |armor &amp; skid plates
                  li
                    |rock sliders
              .ora-list-box
                h4.ora-list-box-title
                  |underhood
                .ora-title-line
                ul
                  li
                    |engine &amp; underhood
                  li
                    |transfer case
                  li
                    |snorkels
              .ora-list-box
                h4.ora-list-box-title
                  |towing &amp; recovery
                .ora-title-line
                ul
                  li
                    |trailer hitches &amp; towing
                  li
                    |winches &amp; accessories
                  li
                    |c.b. &amp; radio
          .ora-btn-box
            a.ora-btn.--light(href="http://offroadaddict.simplybook.me/" title="Book a free consultation")
              |  BOOK A FREE CONSULTATION
        .ora-about-right
          a.ora-img-box(href="https://www.financeit.ca/en/direct/payment-plan/cD0xaFdTS3M3NmNMbVI5d0cwcEtGSWV3JnM9MCZ2PTQmZj0mdD0mbD0mYT0yMjczNTM=/apply" title="Financing link")
            img(src="../../assets/images/financeit-ad.png" alt="Apply for financing")
      // Review Section ----------------------------------------:
      .ora-review
        .ora-review-left
          .ora-title
            h2
              |CUSTOMER REVIEWS
            .ora-title-line
          .ora-reviews-boxes
            .ora-review-box
              h4
                |JK LIFTKIT &amp; SHOCKS
              p
                |I had a Teraflex 2.5&quot; coil lift kit with Fox 2.0 Evolution shocks, and I honestly could not be happier with the service and the actual kit and shocks have far exceeded my expectations!
              span.ora-review-box-author
                |Jeff H.
              .ora-review-stars
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
            .ora-review-box
              h4
                |LIFTS, WHEELS &amp; TIRES
              p
                |I had a Teraflex 2.5&quot; coil lift kit with Fox 2.0 Evolution shocks, and I honestly could not be happier with the service and the actual kit and shocks have far exceeded my expectations!
              span.ora-review-box-author
                |Gerhard M.
              .ora-review-stars
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
            .ora-review-box
              h4
                |TURNED MY TRUCK INTO A DREAM
              p
                |I had a Teraflex 2.5&quot; coil lift kit with Fox 2.0 Evolution shocks, and I honestly could not be happier with the service and the actual kit and shocks have far exceeded my expectations!
              span.ora-review-box-author
                |Rob M.
              .ora-review-stars
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
        .ora-review-right
          .ora-video-title
            img(src="../../assets/images/video-title.png" alt ="Custom built jeep wrangler")
          .ora-video-box
            iframe(width="560" height="315" src="https://www.youtube.com/embed/bMeN0bhf724" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
      // Pre-footer Section ----------------------------------------:
      .ora-prefooter
        .ora-hero.--chevy-footer
          .ora-hero-banner.--alt
            .ora-hero-logo
              img(src="../../assets/images/ora-logo.svg" alt="Offroad Addiction logo")
            .ora-hero-bigtext
              img(src="../../assets/images/4x4-logo-reverse.svg" alt="Build your dream 4x4")
            a.ora-btn.--darker(href="http://offroadaddict.simplybook.me/" title="Book a free consultation")
              |  BOOK A FREE CONSULTATION
      // Footer Section
      footer.ora-footer
        .ora-footer-about
          .ora-title
            h2
              |ABOUT US
            .ora-title-line
          p
            |Off Road Addiction was created by Ryan Stoangi in 2004 from his passion for off-road and performance motorsports. Ryan and his team always strive for excellence in customer satisfaction, sales, and service. With over 80 years of combined technical experience, at Off Road Addiction you’ll get quality installation and the right advice on your build or project the first time, every time.
        .ora-footer-mailing
          .ora-img-box
            img(src="../../assets/images/join-our-mailing-list.png" alt="Join our mailing list")
          #mc_embed_signup
            form#mc-embedded-subscribe-form.validate(action="https://offroad-addiction.us9.list-manage.com/subscribe/post?u=fa835280d7e52207971079617&amp;id=961e94c97c" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate)
              #mc_embed_signup_scroll
                .indicates-required
                  span.asterisk
                    |*
                  span
                    |&nbsp;indicates required
                .mc-field-group
                  label(for="mce-FNAME")
                    |First Name&nbsp;
                  input#mce-FNAME(type="text" value="" name="FNAME" placeholder="First Name")
                .mc-field-group
                  label(for="mce-EMAIL")
                    |Email Address&nbsp;
                  span.asterisk
                    |*
                  input#mce-EMAIL.required.email(type="email" value="" name="EMAIL" placeholder="Email Address *")
                //-
                  .mc-field-group
                    label(for="mce-LNAME")
                      |Last Name&nbsp;
                    input#mce-LNAME(type="text" value="" name="LNAME" placeholder="Last Name")
                  .mc-field-group
                    label(for="mce-MMERGE5")
                      |Name&nbsp;
                    input#mce-MMERGE5(type="text" value="" name="MMERGE5" placeholder="Full Name")
                #mce-responses.clear
                  #mce-error-response.response(style="display:none")
                  #mce-success-response.response(style="display:none") <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                div(style="position: absolute; left: -5000px;" aria-hidden="true")
                  input(type="text" name="b_fa835280d7e52207971079617_961e94c97c" tabindex="-1" value="")
                .clear
                  input#mc-embedded-subscribe.button.ora-btn(style="border: none;" type="submit" value="SUBSCRIBE" name="subscribe")
        .ora-footer-contact
          .ora-title
            h2
              |CONTACT US
            .ora-title-line
          .ora-footer-contact-boxes
            .ora-footer-contact-box
              p
                |Off Road Addiction<br/>45025 Talbot Line<br/>St Thomas, ON N5P 3S7
              a.ora-get-directions(href="https://www.google.ca/maps/place/Off+Road+Addiction/@42.7763794,-81.1035633,17z/data=!3m1!4b1!4m5!3m4!1s0x882eed21fc18153f:0x6fc663584461ad3d!8m2!3d42.7763794!4d-81.1013746" title="Directions")
                |GET DIRECTIONS
            .ora-footer-contact-box
              p
                |Monday – Friday (9AM - 6PM)<br/>Saturday: 9AM - 2PM<br/>Sunday: Closed
            .ora-footer-contact-box
              p
                |Phone: 519-451-6076<br/>Toll Free: 1-87-309-7623<br/>Fax: 519-637-7373
            .ora-footer-contact-box
              a.zuc-social-link(href="https://www.facebook.com/ORAddiction" title="Like us on Facebook")
                i.fab.fa-facebook-f
              a.zuc-social-link(href="https://www.instagram.com/offroad_addiction_swo" title="Follow us on Instagram")
                i.fab.fa-instagram

