doctype html
html
  include ../shared/meta-head.pug
  body
    .ora-page-container
      // Sticky Bar ----------------------------------------:
      .ora-sticky-bar
        .ora-sticky-buttons
          a(href="mailto:sales@offroad-addiction.com" title="Get in touch with OffRoad").ora-sticky-button.--email
            .ora-sticky-button-icon
              i.far.fa-envelope
            .ora-sticky-button-text
              .ora-sticky-button-text-micro
                |EMAIL:<br>
              .ora-sticky-button-text-macro
                |FREE QUOTE
            .ora-sticky-button-hidden
              |EMAIL
          a(href="tel:+5194516076" title="Get in touch with us!").ora-sticky-button.--phone
            .ora-sticky-button-icon
              i.fas.fa-mobile-alt
            .ora-sticky-button-text
              .ora-sticky-button-text-micro
                |CALL:
              .ora-sticky-button-text-macro
                |1-877-309-7623
            .ora-sticky-button-hidden
              |CALL
          .ora-sticky-button.--chat
            .ora-sticky-button-icon
              i.far.fa-comments
            .ora-sticky-button-text
              .ora-sticky-button-text-micro
                |ASK NOW:
              .ora-sticky-button-text-macro
                |LIVE CHAT
            .ora-sticky-button-hidden
              |ASK NOW
      // Header Section ----------------------------------------:
      .ora-header
        .ora-header-content
          .ora-header-logo
          .ora-header-info
            .ora-header-contact
              .ora-header-contact-phone
                |1-877-309-7623
              .ora-header-contact-hours
                |M-F: 9am - 6pm SAT: 9am - 2pm
            .ora-header-stack
              .ora-header-quote
              .ora-header-socials
                a.fab.fa-instagram(href="https://www.instagram.com/offroad_addiction_swo" title="Follow us on Instagram")
                a.fab.fa-facebook-f(href="https://www.facebook.com/ORAddiction" title="Like us on Facebook")
                a.fab.fa-twitter(href="https://twitter.com/OFFROADLondon" title="Follow us on Twitter")
                a.fab.fa-youtube(href="https://www.youtube.com/channel/UCnp6Vnehd1ASDCf7NhG5fFA" title="Check out our channel on YouTube")
      // Hero Section ----------------------------------------:
      .ora-dream-hero
        .ora-dream-hero-content
          .ora-dream-hero-bigtext
          .ora-dream-hero-content-sub
            .ora-dream-hero-image
            .ora-dream-hero-textbox
              h3
                |get started with <br class="ora-br-laptop">a <em>free quote</em> on parts, accessories or custom builds
              .ora-btn-box
                a.ora-btn.--dark(href="#quote" title="Book a free consultation")
                  span
                    |GET YOUR FREE QUOTE&nbsp;
                  i.fas.fa-angle-right
                a.ora-btn.--lighter(href="#quote" title="Book a free consultation")
                  span
                    |GET YOUR FREE QUOTE&nbsp;
                  i.fas.fa-angle-right
        .ora-dream-hero-bg
          .ora-dream-hero-bg-grid
            .ora-dream-hero-bg-grid-item.--rock
            .ora-dream-hero-bg-grid-item.--mud
            .ora-dream-hero-bg-grid-item.--road
            .ora-dream-hero-bg-grid-item.--ice
          .ora-dream-hero-bg-green
      // Split Section ----------------------------------------:
      .ora-split
        .ora-split-left
          p
            |Looking for a performance or style upgrade? Always wanted to take your Jeep off road but not sure where to start? Let us take care of all your off roading and customization needs. Go whereever the road takes you and turn heads on the way in a custom 4x4 vehicle from Off Road Addiction.
          p
            |We have a huge selection of aftermarket parts and Jeep accessories for off road enthusiasts at our superstore location in St. Thomas, ON. Not sure what you need? Our experts are always here to help! We also install everything we sell - our certified technicians can make your dream Jeep a reality.
          span.--bigtext
            |Get in touch today so we can start planning your build!
        .ora-split-right
          h2
            |why shop at off road addiction?
          .ora-title-line
          ul.--void
            li.u-uppercase.u-bold
              .ora-checkbox
              span.p
                |expert advice on parts &amp; upgrades
            li.u-uppercase.u-bold
              .ora-checkbox
              span
                |we install everything we sell
            li.u-uppercase.u-bold
              .ora-checkbox
              span
                |in-house certified technicians
            li.u-uppercase.u-bold
              .ora-checkbox
              span
                |financing available
      // Builds Section ----------------------------------------:
      .ora-builds
        .ora-builds-header
          h6.u-main-font.u-kustom-text
            |Start planning your <br class="ora-br-phone"><b>CUSTOM BUILD</b>
        .ora-builds-tier
          .ora-builds-tier-left
            .ora-builds-image.--one
          .ora-builds-tier-right
            .ora-builds-tier-info
              span.ora-tier-subtitle.u-uppercase.u-phone-bottom-padding
                |stage 1 build
              span.ora-tier-title
                |START WITH THE BASICS
              span.--bigtext.u-seventy
                |Add a small lift and bigger tires to start feeding your addiction.
              ul.--void
                li
                  .ora-checkbox
                  span
                    |Leveling Kit
                li
                  .ora-checkbox
                  span
                    |New Wheels
                li
                  .ora-checkbox
                  span
                    |Bigger Tires
          .ora-builds-tier
          .ora-builds-tier-left
            .ora-builds-tier-info.--left
              span.ora-tier-subtitle.u-uppercase.u-phone-bottom-padding
                |stage 2 build
              span.ora-tier-title
                |LIFT IT HIGHER
              span.--bigtext.u-seventy
                |Take it to the next level with a bigger lift, wider tire stance and accessories that suit your style.
              ul.--void
                li
                  .ora-checkbox
                  span
                    |3”- 4” Suspension Lift Kit
                li
                  .ora-checkbox
                  span
                    |New Wheels
                li
                  .ora-checkbox
                  span
                    |Bigger Tires
                li
                  .ora-checkbox
                  span
                    |Front &amp; Rear Bumpers
                li
                  .ora-checkbox
                  span
                    |Rock Sliders
          .ora-builds-tier-right
            .ora-builds-image.--two
        .ora-builds-tier
          .ora-builds-tier-left
            .ora-builds-image.--three
          .ora-builds-tier-right
            .ora-builds-tier-info
              span.ora-tier-subtitle.u-uppercase.u-phone-bottom-padding
                |stage 3 build
              span.ora-tier-title
                |NO LIMITS
              span.--bigtext
                |Ready to challenge bigger &amp; badder obstacles than ever before?
              ul.--void
                li
                  .ora-checkbox
                  span
                    |4”- 6” Suspension Lift Kit
                li
                  .ora-checkbox
                  span
                    |New Wheels
                li
                  .ora-checkbox
                  span
                    |Even Bigger Tires
                li
                  .ora-checkbox
                  span
                    |Light Bars
                li
                  .ora-checkbox
                  span
                    |Fender Flares
                li
                  .ora-checkbox
                  span
                    |Bumpers &amp; Tire Carrier
                li
                  .ora-checkbox
                  span
                    |Winch
      // Review Section ----------------------------------------:
      .ora-review
        .ora-review-left
          .ora-title
            h2
              |OFF ROAD CUSTOMER REVIEWS
            .ora-title-line
          .ora-reviews-boxes
            .ora-review-box
              h4.u-main-font
                |JK LIFTKIT &amp; SHOCKS
              p
                |I had a Teraflex 2.5&quot; coil lift kit with Fox 2.0 Evolution shocks, and I honestly could not be happier with the service and the actual kit and shocks have far exceeded my expectations!
              span.ora-review-box-author
                |Jeff H.
              .ora-review-stars
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
            .ora-review-box
              h4.u-main-font
                |LIFTS, WHEELS &amp; TIRES
              p
                |I love my truck and what you have done to it. If anyone wants to lift their truck, I’ll recommend they go to you, Off Road Addiction.
              span.ora-review-box-author
                |Gerhard M.
              .ora-review-stars
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
            .ora-review-box
              h4.u-main-font
                |TURNED MY TRUCK INTO A DREAM
              p
                |I gave them the parts list and they not only found them, but put all the parts on with the matching paint. Great job guys. I’m in love with my truck.
              span.ora-review-box-author
                |Rob M.
              .ora-review-stars
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
      // Quote Section ----------------------------------------:
      .ora-quote#quote
        .ora-quote-content
          .ora-quote-content-left
          .ora-quote-content-right
            span.ora-quote-pretitle.u-darkgrey
              |GET YOUR
            h3.u-green
              |FREE QUOTE NOW:
            p.u-darkgrey.u-quotetext
              |Tell us about the aftermarket parts you want to add to your ride. We’ll provide a free quote and advice on the best options to enhance your style and performance.
            //- Implement Forms Here !!!
            form.ora-request-form(id="ora-request" action="https://api.formbucket.com/f/buk_cDsNjBua432sgBgp8DnH0vaA" method="post" target="_blank")
              input(type="text" required="true" name="name" id="ora-name" placeholder="Name*")
              input(type="text" required="true" name="email" id="ora-email" placeholder="Email*")
              textarea(type="text" required="true" name="message" id="ora-message" placeholder="Message*")
              button.ora-btn.--lighter(type="submit")
                |SUBMIT REQUEST

        .ora-quote-bg
      // Quote Blurb Section ----------------------------------------:
      .ora-quote-blurb
        .ora-quote-blurb-content
          .ora-quote-blurb-left
          .ora-quote-blurb-right
            p
              |We only choose products that are tough enough to use on our own Jeeps - all backed by our quality in-house installations and service guarantee.
            p
              |Long drive to our state-of-the-art facility? Build your dream truck from the comfort of home without adding extra kilometers. If you live in Ontario, we’ll send our custom trailer to you. <b>Don’t wait, get a free quote today!</b>
      // Banner Section ----------------------------------------:
      .ora-banner
        .ora-banner-bg-strip
          .ora-banner-bg-strip-item.--liftkits
          .ora-banner-bg-strip-item.--flare
          .ora-banner-bg-strip-item.--recovery
          .ora-banner-bg-strip-item.--tire
          .ora-banner-bg-strip-item.--tires
        .ora-banner-fg-strip
          .ora-banner-fg-green
          .ora-banner-fg-words
            span
              |INTERIOR ACCESSORIES
            span
              |EXTERIOR ACCESSORIES
            span
              |SUSPENSION
            span
              |DRIVE TRAIN
            span
              |TOWING &amp; RECOVERY
            span
              |ARMOR
            span
              |UNDER HOOD
      // About Section ----------------------------------------:
      .ora-about
        .ora-about-left
          .ora-about-blurb
            h2.u-uppercase.u-newh2
              |aftermarket parts &amp; Accessories, vehicle upgrades &amp; repairs
          .ora-about-list
            .ora-list-boxes.--left
              .ora-list-box
                h4.ora-list-box-title
                  |DRIVE TRAIN
                .ora-title-line
                ul
                  li
                    |drive train
                  li
                    |axle assembly
                  li
                    |axles &amp; gears
                  li
                    |brakes
              .ora-list-box
                h4.ora-list-box-title
                  |interior
                .ora-title-line
                ul
                  li
                    |interior accessories
                  li
                    |storage solution
                  li
                    |cargo storage
              .ora-list-box
                h4.ora-list-box-title
                  |exterior
                .ora-title-line
                ul
                  li
                    |exterior accessories
                  li
                    |front bumpers
                  li
                    |fenders &amp; flares
                  li
                    |lighting &amp; electrical
                  li
                    |soft tops &amp; accessories
                  li
                    |rear bumpers &amp; tire carriers
              .ora-list-box
                h4.ora-list-box-title
                  |rubber &amp; steel
                .ora-title-line
                ul
                  li
                    |tires
                  li
                    |wheels
            .ora-list-boxes.--right
              .ora-list-box
                h4.ora-list-box-title
                  |suspension
                .ora-title-line
                ul
                  li
                    |suspension lift kits
                  li
                    |body lift kits
                  li
                    |steering &amp; stabilizers
              .ora-list-box
                h4.ora-list-box-title
                  |armor
                .ora-title-line
                ul
                  li
                    |armor &amp; skid plates
                  li
                    |rock sliders
              .ora-list-box
                h4.ora-list-box-title
                  |underhood
                .ora-title-line
                ul
                  li
                    |engine &amp; underhood
                  li
                    |transfer case
                  li
                    |snorkels
              .ora-list-box
                h4.ora-list-box-title
                  |towing &amp; recovery
                .ora-title-line
                ul
                  li
                    |trailer hitches &amp; towing
                  li
                    |winches &amp; accessories
                  li
                    |c.b. &amp; radio
          .ora-btn-box
            a.ora-btn.--lighter(href="#quote" title="Book a free consultation")
              span
                |GET YOUR FREE QUOTE&nbsp;
              i.fas.fa-angle-right
        .ora-about-right
          a.ora-img-box(href="https://www.financeit.ca/en/direct/payment-plan/cD0xaFdTS3M3NmNMbVI5d0cwcEtGSWV3JnM9MCZ2PTQmZj0mdD0mbD0mYT0yMjczNTM=/apply" title="Financing link")
            img(src="../../assets/images/financeit-ad.png" alt="Apply for financing")
      // Mailing Section ----------------------------------------:
      section.ora-mailing-list
        .ora-mailing-wrapper.u-text-center
          .ora-mailing-header
            |JOIN THE OFF ROAD ADDICTION MAILING LIST
          .ora-mailing-subheader.--second-heading
            |Sign up for in-store savings and keep up-to-date with Off Road Community Events.
          #mc_embed_signup
            form#mc-embedded-subscribe-form.validate(action="https://offroad-addiction.us9.list-manage.com/subscribe/post?u=fa835280d7e52207971079617&amp;id=961e94c97c" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate)
              #mc_embed_signup_scroll.flex.flex-hor-between.flex-vert-center
                input#mce-FNAME(type="text" value="" name="FNAME" placeholder="First Name")
                input#mce-EMAIL.required.email(type="email" value="" name="EMAIL" placeholder="Email Address *")
                //-
                  .mc-field-group
                    label(for="mce-LNAME")
                      |Last Name&nbsp;
                    input#mce-LNAME(type="text" value="" name="LNAME" placeholder="Last Name")
                  .mc-field-group
                    label(for="mce-MMERGE5")
                      |Name&nbsp;
                    input#mce-MMERGE5(type="text" value="" name="MMERGE5" placeholder="Full Name")
                #mce-responses.clear
                  #mce-error-response.response(style="display:none")
                  #mce-success-response.response(style="display:none") <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                div(style="position: absolute; left: -5000px;" aria-hidden="true")
                  input(type="text" name="b_fa835280d7e52207971079617_961e94c97c" tabindex="-1" value="")
                .clear
                  input#mc-embedded-subscribe.button.ora-btn(style="border: none;" type="submit" value="SIGN UP" name="subscribe")

      // Footer Section ----------------------------------------:
      footer.ora-footer
        .ora-footer-about
          .ora-title
            h2
              |ABOUT US
            .ora-title-line
          p
            |Off Road Addiction was created by Ryan Stoangi in 2004 to fuel his passion for off-road and performance motorsports. Ryan and his team insist on excellence in customer satisfaction and service. With over 80 years of combined technical expertise, the Off Road Addiction team provides quality installations and the right advice on your dream build or project.
        .ora-footer-contact
          .ora-title
            h2
              |VISIT THE SHOP
            .ora-title-line
          .ora-footer-contact-boxes
            .ora-footer-contact-box
              p
                |Off Road Addiction<br/>45025 Talbot Line<br/>St Thomas, ON N5P 3S7
              a.ora-get-directions(href="https://www.google.ca/maps/place/Off+Road+Addiction/@42.7763794,-81.1035633,17z/data=!3m1!4b1!4m5!3m4!1s0x882eed21fc18153f:0x6fc663584461ad3d!8m2!3d42.7763794!4d-81.1013746" title="Directions")
                |GET DIRECTIONS
            .ora-footer-contact-box
              p
                |Monday – Friday: 9am - 6pm<br/>Saturday: 9am - 2pm<br/>Sunday: Closed
            .ora-footer-contact-box
              p
                |Phone: 519-451-6076<br/>Toll Free: 1-877-309-7623<br/>Fax: 519-637-7373
            .ora-footer-contact-box
              a.zuc-social-link(href="https://www.instagram.com/offroad_addiction_swo" title="Follow us on Instagram")
                i.fab.fa-instagram
              a.zuc-social-link(href="https://www.facebook.com/ORAddiction" title="Like us on Facebook")
                i.fab.fa-facebook-f
              a.zuc-social-link(href="https://twitter.com/OFFROADLondon" title="Follow us on Twitter")
                i.fab.fa-twitter
              a.zuc-social-link(href="https://www.youtube.com/channel/UCnp6Vnehd1ASDCf7NhG5fFA" title="Check out Our Channel on YouTube")
                i.fab.fa-youtube

