doctype html
html
  include ../shared/meta-head.pug
  body
    .ora-page-container
      // Sticky Bar ----------------------------------------:
      .ora-sticky-bar
        .ora-sticky-buttons
          .ora-sticky-button.--email
            .ora-sticky-button-icon
              i.far.fa-envelope
            .ora-sticky-button-text
              .ora-sticky-button-text-micro
                |EMAIL:<br>
              .ora-sticky-button-text-macro
                |FREE QUOTE
            .ora-sticky-button-hidden
              |EMAIL
          .ora-sticky-button.--phone
            .ora-sticky-button-icon
              i.fas.fa-mobile-alt
            .ora-sticky-button-text
              .ora-sticky-button-text-micro
                |CALL:
              .ora-sticky-button-text-macro
                |1-877-309-7623
            .ora-sticky-button-hidden
              |CALL
          .ora-sticky-button.--chat
            .ora-sticky-button-icon
              i.far.fa-comments
            .ora-sticky-button-text
              .ora-sticky-button-text-micro
                |ASK NOW:
              .ora-sticky-button-text-macro
                |LIVE CHAT
            .ora-sticky-button-hidden
              |ASK NOW
      // Header Section ----------------------------------------:
      .ora-header
        .ora-header-content
          .ora-header-logo
          .ora-header-info
            .ora-header-contact
              .ora-header-contact-phone
                |1-877-309-7623
              .ora-header-contact-hours
                |M-F: 9am - 6pm SAT: 9am - 2pm
            .ora-header-stack
              .ora-header-quote
              .ora-header-socials
                a.fab.fa-instagram(href="https://www.instagram.com/offroad_addiction_swo" title="Follow us on Instagram")
                a.fab.fa-facebook-f(href="https://www.facebook.com/ORAddiction" title="Like us on Facebook")
                a.fab.fa-twitter(href="/" title="todo")
                a.fab.fa-youtube(href="/" title="todo")
      // Hero Section ----------------------------------------:
      .ora-dream-hero
        .ora-dream-hero-content
          .ora-dream-hero-bigtext
          .ora-dream-hero-content-sub
            .ora-dream-hero-image
            .ora-dream-hero-textbox
              h3
                |get started with <br class="ora-br-laptop">a <em>free quote</em> on parts, accessories or custom builds
              .ora-btn-box
                a.ora-btn.--dark(href="http://offroadaddict.simplybook.me/" title="Book a free consultation")
                  span
                    |GET YOUR FREE QUOTE&nbsp;
                  i.fas.fa-angle-right
                a.ora-btn.--lighter(href="http://offroadaddict.simplybook.me/" title="Book a free consultation")
                  span
                    |GET YOUR FREE QUOTE&nbsp;
                  i.fas.fa-angle-right
        .ora-dream-hero-bg
          .ora-dream-hero-bg-grid
            .ora-dream-hero-bg-grid-item.--rock
            .ora-dream-hero-bg-grid-item.--mud
            .ora-dream-hero-bg-grid-item.--road
            .ora-dream-hero-bg-grid-item.--ice
          .ora-dream-hero-bg-green
      // Split Section ----------------------------------------:
      .ora-split
        .ora-split-left
          p
            |Looking for a performance or style upgrade? Always wanted to take your Jeep off road but not sure where to start? Let us take care of all your off roading and customization needs. Go whereever the road takes you and turn heads on the way in a custom 4x4 vehicle from Off Road Addiction.
          p
            |We have a huge selection of aftermarket parts and Jeep accessories for off road enthusiasts at our superstore location in St. Thomas, ON. Not sure what you need? Our experts are always here to help! We also install everything we sell - our certified technicians can make your dream Jeep a reality.
          span.--bigtext
            |Get in touch today so we can starting planning your build!
        .ora-split-right
          h2
            |why shop at off road addiction?
          .ora-title-line
          ul.--void
            li.u-uppercase.u-bold
              .ora-checkbox
              span.p
                |expert advice on parts & upgrades
            li.u-uppercase.u-bold
              .ora-checkbox
              span
                |we install everything we sell
            li.u-uppercase.u-bold
              .ora-checkbox
              span
                |in-house certified technicians
            li.u-uppercase.u-bold
              .ora-checkbox
              span
                |financing available
      // Builds Section ----------------------------------------:
      .ora-builds
        .ora-builds-header
          h6
            |Start planning your <br class="ora-br-phone"><b>CUSTOM BUILD</b>
        .ora-builds-tier
          .ora-builds-tier-left
            .ora-builds-image.--one
          .ora-builds-tier-right
            .ora-builds-tier-info
              span.ora-tier-subtitle.u-uppercase
                |stage 1 build
              span.ora-tier-title
                |START WITH THE BASICS
              span.--bigtext
                |Add a small lift and bigger tires to start feeding your addiction.
              ul.--void
                li
                  .ora-checkbox
                  span
                    |Leveling Kit
                li
                  .ora-checkbox
                  span
                    |New Wheels
                li
                  .ora-checkbox
                  span
                    |Bigger Tires
          .ora-builds-tier
          .ora-builds-tier-left
            .ora-builds-tier-info.--left
              span.ora-tier-subtitle.u-uppercase
                |stage 2 build
              span.ora-tier-title
                |LIGHT IT HIGHER
              span.--bigtext
                |Take it to the next level with a bigger lift, wider tire stance and accessories that suit your style.
              ul.--void
                li
                  .ora-checkbox
                  span
                    |3”- 4” Suspension Lift Kit
                li
                  .ora-checkbox
                  span
                    |New Wheels
                li
                  .ora-checkbox
                  span
                    |Bigger Tires
                li
                  .ora-checkbox
                  span
                    |Front & Rear Bumpers
                li
                  .ora-checkbox
                  span
                    |Rock Sliders
          .ora-builds-tier-right
            .ora-builds-image.--two
        .ora-builds-tier
          .ora-builds-tier-left
            .ora-builds-image.--three
          .ora-builds-tier-right
            .ora-builds-tier-info
              span.ora-tier-subtitle.u-uppercase
                |stage 3 build
              span.ora-tier-title
                |NO LIMITS
              span.--bigtext
                |Ready to challenge bigger &amp; badder obstacles than ever before?
              ul.--void
                li
                  .ora-checkbox
                  span
                    |4”- 6” Suspension Lift Kit
                li
                  .ora-checkbox
                  span
                    |New Wheels
                li
                  .ora-checkbox
                  span
                    |Even Bigger Tires
                li
                  .ora-checkbox
                  span
                    |Light Bars
                li
                  .ora-checkbox
                  span
                    |Fender Flares
                li
                  .ora-checkbox
                  span
                    |Bumpers & Tire Carrier
                li
                  .ora-checkbox
                  span
                    |Winch
      // Review Section ----------------------------------------:
      .ora-review
        .ora-review-left
          .ora-title
            h2
              |OFF ROAD CUSTOMER REVIEWS
            .ora-title-line
          .ora-reviews-boxes
            .ora-review-box
              h4
                |JK LIFTKIT &amp; SHOCKS
              p
                |I had a Teraflex 2.5&quot; coil lift kit with Fox 2.0 Evolution shocks, and I honestly could not be happier with the service and the actual kit and shocks have far exceeded my expectations!
              span.ora-review-box-author
                |Jeff H.
              .ora-review-stars
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
            .ora-review-box
              h4
                |LIFTS, WHEELS &amp; TIRES
              p
                |I had a Teraflex 2.5&quot; coil lift kit with Fox 2.0 Evolution shocks, and I honestly could not be happier with the service and the actual kit and shocks have far exceeded my expectations!
              span.ora-review-box-author
                |Gerhard M.
              .ora-review-stars
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
            .ora-review-box
              h4
                |TURNED MY TRUCK INTO A DREAM
              p
                |I had a Teraflex 2.5&quot; coil lift kit with Fox 2.0 Evolution shocks, and I honestly could not be happier with the service and the actual kit and shocks have far exceeded my expectations!
              span.ora-review-box-author
                |Rob M.
              .ora-review-stars
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
      // Quote Section ----------------------------------------:
      // Banner Section ----------------------------------------:
      // About Section ----------------------------------------:
      .ora-about
        .ora-about-left
          .ora-about-blurb
            h2.u-uppercase.u-newh2
              |aftermarket parts & Accessories, vehicle upgrades & repairs
          .ora-about-list
            .ora-list-boxes.--left
              .ora-list-box
                h4.ora-list-box-title
                  |DRIVE TRAIN
                .ora-title-line
                ul
                  li
                    |drive train
                  li
                    |axle assembly
                  li
                    |axles &amp; gears
                  li
                    |brakes
              .ora-list-box
                h4.ora-list-box-title
                  |interior
                .ora-title-line
                ul
                  li
                    |interior accessories
                  li
                    |storage solution
                  li
                    |cargo storage
              .ora-list-box
                h4.ora-list-box-title
                  |exterior
                .ora-title-line
                ul
                  li
                    |exterior accessories
                  li
                    |front bumpers
                  li
                    |fenders &amp; flares
                  li
                    |lighting &amp; electrical
                  li
                    |soft tops &amp; accessories
                  li
                    |rear bumpers &amp; tire carriers
              .ora-list-box
                h4.ora-list-box-title
                  |rubber &amp; steel
                .ora-title-line
                ul
                  li
                    |tires
                  li
                    |wheels
            .ora-list-boxes.--right
              .ora-list-box
                h4.ora-list-box-title
                  |suspension
                .ora-title-line
                ul
                  li
                    |suspension lift kits
                  li
                    |body lift kits
                  li
                    |steering &amp; stabilizers
              .ora-list-box
                h4.ora-list-box-title
                  |armor
                .ora-title-line
                ul
                  li
                    |armor &amp; skid plates
                  li
                    |rock sliders
              .ora-list-box
                h4.ora-list-box-title
                  |underhood
                .ora-title-line
                ul
                  li
                    |engine &amp; underhood
                  li
                    |transfer case
                  li
                    |snorkels
              .ora-list-box
                h4.ora-list-box-title
                  |towing &amp; recovery
                .ora-title-line
                ul
                  li
                    |trailer hitches &amp; towing
                  li
                    |winches &amp; accessories
                  li
                    |c.b. &amp; radio
          .ora-btn-box
            a.ora-btn.--lighter(href="http://offroadaddict.simplybook.me/" title="Book a free consultation")
              span
                |GET YOUR FREE QUOTE&nbsp;
              i.fas.fa-angle-right
        .ora-about-right
          a.ora-img-box(href="https://www.financeit.ca/en/direct/payment-plan/cD0xaFdTS3M3NmNMbVI5d0cwcEtGSWV3JnM9MCZ2PTQmZj0mdD0mbD0mYT0yMjczNTM=/apply" title="Financing link")
            img(src="../../assets/images/financeit-ad.png" alt="Apply for financing")
      // Mailing Section ----------------------------------------:
      // Footer Section ----------------------------------------:
      footer.ora-footer
        .ora-footer-about
          .ora-title
            h2
              |ABOUT US
            .ora-title-line
          p
            |Off Road Addiction was created by Ryan Stoangi in 2004 to fuel his passion for off-road and performance motorsports. Ryan and his team insist on excellence in customer satisfaction and service. With over 80 years of combined technical expertise, the Off Road Addiction team provides quality installations and the right advice on your dream build or project.
        .ora-footer-contact
          .ora-title
            h2
              |VISIT THE SHOP
            .ora-title-line
          .ora-footer-contact-boxes
            .ora-footer-contact-box
              p
                |Off Road Addiction<br/>45025 Talbot Line<br/>St Thomas, ON N5P 3S7
              a.ora-get-directions(href="https://www.google.ca/maps/place/Off+Road+Addiction/@42.7763794,-81.1035633,17z/data=!3m1!4b1!4m5!3m4!1s0x882eed21fc18153f:0x6fc663584461ad3d!8m2!3d42.7763794!4d-81.1013746" title="Directions")
                |GET DIRECTIONS
            .ora-footer-contact-box
              p
                |Monday – Friday: 9am - 6pm<br/>Saturday: 9am - 2pm<br/>Sunday: Closed
            .ora-footer-contact-box
              p
                |Phone: 519-451-6076<br/>Toll Free: 1-877-309-7623<br/>Fax: 519-637-7373
            .ora-footer-contact-box
              a.zuc-social-link(href="https://www.instagram.com/offroad_addiction_swo" title="Follow us on Instagram")
                i.fab.fa-instagram
              a.zuc-social-link(href="https://www.facebook.com/ORAddiction" title="Like us on Facebook")
                i.fab.fa-facebook-f
              a.zuc-social-link(href="/" title="todo")
                i.fab.fa-twitter
              a.zuc-social-link(href="/" title="todo")
                i.fab.fa-youtube
              
