doctype html
html
  include ../shared/meta-head.pug
  body
    .ora-page-container
      // Sticky Bar ----------------------------------------:
      .ora-sticky-bar
        .ora-sticky-buttons
          .ora-sticky-button.--email
            .ora-sticky-button-icon
              i.far.fa-envelope
            .ora-sticky-button-text
              .ora-sticky-button-text-micro
                |EMAIL:<br>
              .ora-sticky-button-text-macro
                |FREE QUOTE
            .ora-sticky-button-hidden
              |EMAIL
          .ora-sticky-button.--phone
            .ora-sticky-button-icon
              i.fas.fa-mobile-alt
            .ora-sticky-button-text
              .ora-sticky-button-text-micro
                |CALL:
              .ora-sticky-button-text-macro
                |1-877-309-7623
            .ora-sticky-button-hidden
              |CALL
          .ora-sticky-button.--chat
            .ora-sticky-button-icon
              i.far.fa-comments
            .ora-sticky-button-text
              .ora-sticky-button-text-micro
                |ASK NOW:
              .ora-sticky-button-text-macro
                |LIVE CHAT
            .ora-sticky-button-hidden
              |ASK NOW
      // Header Section ----------------------------------------:
      .ora-header
        .ora-header-content
          .ora-header-logo
          .ora-header-info
            .ora-header-contact
              .ora-header-contact-phone
                |1-877-309-7623
              .ora-header-contact-hours
                |M-F: 9am - 6pm SAT: 9am - 2pm
            .ora-header-stack
              .ora-header-quote
              .ora-header-socials
                a.fab.fa-instagram(href="https://www.instagram.com/offroad_addiction_swo" title="Follow us on Instagram")
                a.fab.fa-facebook-f(href="https://www.facebook.com/ORAddiction" title="Like us on Facebook")
                a.fab.fa-twitter(href="/" title="todo")
                a.fab.fa-youtube(href="/" title="todo")
      // Hero Section ----------------------------------------:
      .ora-dream-hero
        
      // Split Section ----------------------------------------:
      // Builds Section ----------------------------------------:
      // Review Section ----------------------------------------:
      .ora-review
        .ora-review-left
          .ora-title
            h2
              |OFF ROAD CUSTOMER REVIEWS
            .ora-title-line
          .ora-reviews-boxes
            .ora-review-box
              h4
                |JK LIFTKIT &amp; SHOCKS
              p
                |I had a Teraflex 2.5&quot; coil lift kit with Fox 2.0 Evolution shocks, and I honestly could not be happier with the service and the actual kit and shocks have far exceeded my expectations!
              span.ora-review-box-author
                |Jeff H.
              .ora-review-stars
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
            .ora-review-box
              h4
                |LIFTS, WHEELS &amp; TIRES
              p
                |I had a Teraflex 2.5&quot; coil lift kit with Fox 2.0 Evolution shocks, and I honestly could not be happier with the service and the actual kit and shocks have far exceeded my expectations!
              span.ora-review-box-author
                |Gerhard M.
              .ora-review-stars
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
            .ora-review-box
              h4
                |TURNED MY TRUCK INTO A DREAM
              p
                |I had a Teraflex 2.5&quot; coil lift kit with Fox 2.0 Evolution shocks, and I honestly could not be happier with the service and the actual kit and shocks have far exceeded my expectations!
              span.ora-review-box-author
                |Rob M.
              .ora-review-stars
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
                img.ora-review-star(src="../../assets/images/icon-star.svg" alt="Small green star")
      // Quote Section ----------------------------------------:
      // Banner Section ----------------------------------------:
      // About Section ----------------------------------------:
      .ora-about
        .ora-about-left
          .ora-about-blurb
            .ora-img-box
              img.ora-about-blurb-banner(src="../../assets/images/aftermarket-parts.png" alt="Aftermarket parts and accessories")
            p
              |We only choose products that are tough enough for life on the trails, backed by our quality, in-house installations and service guarantee.
            p
              |Long drive to our state-of-the-art facility? Build your dream truck from the comfort of home, if you live in Ontario, we will send our custom trailer to you. Don’t wait, book your free consultation today!
          .ora-about-list
            .ora-list-boxes.--left
              .ora-list-box
                h4.ora-list-box-title
                  |DRIVE TRAIN
                .ora-title-line
                ul
                  li
                    |drive train
                  li
                    |axle assembly
                  li
                    |axles &amp; gears
                  li
                    |brakes
              .ora-list-box
                h4.ora-list-box-title
                  |interior
                .ora-title-line
                ul
                  li
                    |interior accessories
                  li
                    |storage solution
                  li
                    |cargo storage
              .ora-list-box
                h4.ora-list-box-title
                  |exterior
                .ora-title-line
                ul
                  li
                    |exterior accessories
                  li
                    |front bumpers
                  li
                    |fenders &amp; flares
                  li
                    |lighting &amp; electrical
                  li
                    |soft tops &amp; accessories
                  li
                    |rear bumpers &amp; tire carriers
              .ora-list-box
                h4.ora-list-box-title
                  |rubber &amp; steel
                .ora-title-line
                ul
                  li
                    |tires
                  li
                    |wheels
            .ora-list-boxes.--right
              .ora-list-box
                h4.ora-list-box-title
                  |suspension
                .ora-title-line
                ul
                  li
                    |suspension lift kits
                  li
                    |body lift kits
                  li
                    |steering &amp; stabilizers
              .ora-list-box
                h4.ora-list-box-title
                  |armor
                .ora-title-line
                ul
                  li
                    |armor &amp; skid plates
                  li
                    |rock sliders
              .ora-list-box
                h4.ora-list-box-title
                  |underhood
                .ora-title-line
                ul
                  li
                    |engine &amp; underhood
                  li
                    |transfer case
                  li
                    |snorkels
              .ora-list-box
                h4.ora-list-box-title
                  |towing &amp; recovery
                .ora-title-line
                ul
                  li
                    |trailer hitches &amp; towing
                  li
                    |winches &amp; accessories
                  li
                    |c.b. &amp; radio
          .ora-btn-box
            a.ora-btn.--light(href="http://offroadaddict.simplybook.me/" title="Book a free consultation")
              |  BOOK A FREE CONSULTATION
        .ora-about-right
          a.ora-img-box(href="https://www.financeit.ca/en/direct/payment-plan/cD0xaFdTS3M3NmNMbVI5d0cwcEtGSWV3JnM9MCZ2PTQmZj0mdD0mbD0mYT0yMjczNTM=/apply" title="Financing link")
            img(src="../../assets/images/financeit-ad.png" alt="Apply for financing")
      // Mailing Section ----------------------------------------:
      // Footer Section ----------------------------------------:
      footer.ora-footer
        .ora-footer-about
          .ora-title
            h2
              |ABOUT US
            .ora-title-line
          p
            |Off Road Addiction was created by Ryan Stoangi in 2004 to fuel his passion for off-road and performance motorsports. Ryan and his team insist on excellence in customer satisfaction and service. With over 80 years of combined technical expertise, the Off Road Addiction team provides quality installations and the right advice on your dream build or project.
        .ora-footer-contact
          .ora-title
            h2
              |VISIT THE SHOP
            .ora-title-line
          .ora-footer-contact-boxes
            .ora-footer-contact-box
              p
                |Off Road Addiction<br/>45025 Talbot Line<br/>St Thomas, ON N5P 3S7
              a.ora-get-directions(href="https://www.google.ca/maps/place/Off+Road+Addiction/@42.7763794,-81.1035633,17z/data=!3m1!4b1!4m5!3m4!1s0x882eed21fc18153f:0x6fc663584461ad3d!8m2!3d42.7763794!4d-81.1013746" title="Directions")
                |GET DIRECTIONS
            .ora-footer-contact-box
              p
                |Monday – Friday: 9am - 6pm<br/>Saturday: 9am - 2pm<br/>Sunday: Closed
            .ora-footer-contact-box
              p
                |Phone: 519-451-6076<br/>Toll Free: 1-877-309-7623<br/>Fax: 519-637-7373
            .ora-footer-contact-box
              a.zuc-social-link(href="https://www.instagram.com/offroad_addiction_swo" title="Follow us on Instagram")
                i.fab.fa-instagram
              a.zuc-social-link(href="https://www.facebook.com/ORAddiction" title="Like us on Facebook")
                i.fab.fa-facebook-f
              a.zuc-social-link(href="/" title="todo")
                i.fab.fa-twitter
              a.zuc-social-link(href="/" title="todo")
                i.fab.fa-youtube
              
