head
  meta( charset='utf-8')
  title Off Road Addiction | 4x4 parts, upgrade fenders and flares, 4wd armor, Jeep body lift kits, offroad store
  meta( name='keywords' 							content='4x4 parts, upgrade fenders and flares, 4wd armor, Jeep body lift kits, offroad store')
  meta( name='description' 						content='Top brand 4x4, 4wd and truck offroading parts, accessories and upgrades from Off Road Addiction. Fast delivery in Canada, no border or duty fees.')

  meta( property='og:type' content='website')
  meta( property='og:url'  content='https://offroad-addiction.com/')
  meta( property='og:title' content='Off Road Addiction')
  meta( property='og:image' content='https://offroad-addiction.com/wp-content/uploads/2018/02/IMG_3954-1.jpg')

  link( rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous')
  link( href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel='stylesheet')

  <!-- [ JQUERY ] -->
  script( src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')

  <!-- [ RESPONSIVE VIEWPORT ] -->
  meta( name='viewport' content='width=device-width, initial-scale=1')
  <!-- [ Stylesheet ] -->



