// PREFOOTER STYLES

.ora-prefooter {
  background: $ora-grey;
}

// Overall Footer Section Styles

.ora-footer {
  background: $ora-darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: vw-phone(50) 5vw vw-phone(75);

  @media #{$tablet-up} {
    padding: vw-tablet(80) 10vw vw-tablet(115);
  }

  @media #{$laptop-up} {
    flex-direction: row;
    justify-content: center;
    padding: vw-laptop(100) 14vw vw-laptop(115);
  }

  @media #{$desktop-up} {
    padding: vw-desktop(100) 14vw vw-desktop(115);
  }
}

// Footer About Section

.ora-footer-about {
  width: 100%;
  position: relative;
  padding: 0 0 vw-phone(75) 0;

  @media #{$tablet-up} {
    padding: 0 0 vw-tablet(70) 0;
  }

  @media #{$laptop-up} {
    width: vw-laptop(450);
    padding: 0 vw-laptop(50) 0 0;
  }

  @media #{$desktop-up} {
    width: vw-desktop(440);
    padding: 0 vw-desktop(50) 0 0;
  }

  .ora-title {
    width: 100%;
  }

  p {
    font-size: 18px;

    @media #{$tablet-up} {
      font-size: vw-tablet(20);
    }

    @media #{$laptop-up} {
      font-size: vw-laptop(16);
    }

    @media #{$desktop-up} {
      font-size: vw-desktop(18);
    }
  }
}

// Footer Contact Section

.ora-footer-contact {
  width: 100%;

  @media #{$laptop-up} {
    width: vw-laptop(450);
    margin: 0 0 0 vw-laptop(50);
  }

  @media #{$desktop-up} {
    width: vw-desktop(450);
    margin: 0 0 0 vw-desktop(50);
  }

  .ora-title {
    width: 100%;
  }

  .ora-footer-contact-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ora-footer-contact-box {
    @media #{$phone-only} {
      width: 100%;

      &:nth-child( n+2 ) {
        padding-top: vw-phone(30);
      }
    }

    @media #{$tablet-up} {
      width: 40%;

      &:nth-child( 2n ) {
        padding-left: vw-tablet(40);
        width: 60%;
      }

      &:nth-child( n+3 ) {
        padding-top: vw-tablet(30);
      }
    }

    @media #{$laptop-only} {
      &:nth-child( 2n ) {
        padding-left: vw-laptop(40);
      }

      &:nth-child( n+3 ) {
        padding-top: vw-laptop(30);
      }
    }

    @media #{$desktop-up} {
      &:nth-child( 2n ) {
        padding-left: vw-desktop(40);
      }

      &:nth-child( n+3 ) {
        padding-top: vw-desktop(30);
      }
    }


    p,
    .ora-get-directions {
      font-size: vw-phone(16);
      line-height: 130%;

      @media #{$tablet-up} {
        font-size: vw-tablet(18);
      }

      @media #{$laptop-up} {
        font-size: vw-laptop(14);
      }

      @media #{$desktop-up} {
        font-size: vw-desktop(16);
      }
    }

    .ora-get-directions {
      font-family: $main-font;
      text-decoration: underline;
      transition: .4s;
      font-weight: 700;

      &:hover {
        color: $ora-green;
      }
    }

    a {
      padding: 0 vw-phone(35) 0 vw-phone(2);

      @media #{$tablet-up} {
        padding: 0 vw-tablet(35) 0 0;
      }

      @media #{$laptop-up} {
        padding: 0 vw-laptop(15) 0 0;
      }

      @media #{$desktop-up} {
        padding: 0 vw-desktop(15) 0 0;
      }
    }

    i {
      color: $ora-white;
      line-height: 130%;
      font-size: vw-phone(22);
      width: 20px;
      transition: all .4s;

      &:hover {
        color: #ccc;
      }

      @media #{$tablet-up} {
        font-size: vw-tablet(22);
      }

      @media #{$laptop-up} {
        font-size: vw-laptop(18);
      }

      @media #{$desktop-up} {
        font-size: vw-desktop(20);
      }
    }
  }
}

