/*-------------------------------------
 *	BUTTONS MASTER STYLES
 *-------------------------------------
 *
 *	Stylesheet dedicated to all button
 *	styles including colour and typography
 *
/-------------------------------------*/

/* stylelint-disable */

.ora-btn,
#mc-embedded-subscribe {
  display: inline-block;
  width: 100%;
  font-family: $spec-font;
  line-height: 1;
  font-weight: 300;
  text-align: center;
  background: $ora-green;
  color: $ora-darkgrey;
  transition: .4s;
  font-size: 21px;
  padding: vw-phone(15) 1vw;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;

  @media #{$tablet-up} {
    font-size: 22px;
    padding: vw-tablet(15) 2vw;
  }

  @media #{$tablet-lnd-only} {
    padding: vw-laptop(13) 1vw;
  }

  @media #{$laptop-up} {
    font-size: 27px;
    padding: vw-laptop(13) 1vw;
  }

  @media #{$desktop-up} {
    padding: vw-desktop(13) 1vw;
  }

  &:hover {
    background: darken($ora-green, 10%);
  }

  &.--light {
    background: $ora-green;
    color: $ora-darkgrey;

    &:hover {
      background: darken($ora-green, 10%);
    }
  }

  &.--lighter {
    background: $ora-green;
    color: $white;

    &:hover {
      background: darken($ora-green, 10%);
    }
  }

  &.--dark {
    background: $ora-darkgrey;
    color: $ora-white;

    &:hover {
      background: lighten($ora-darkgrey, 10%);
    }
  }

  &.--darker {
    background: $ora-darkgrey;
    color: $ora-green;

    &:hover {
      background: lighten($ora-darkgrey, 10%);
    }
  }
}

#mc-embedded-subscribe {
  color: $white;
  height: 50px;
}
