.ora-dream-hero {
  width: 100%;
  position: relative;
  background-color: $ora-darkgrey;

  @media #{$desktop-only} {
    padding-bottom: 5px;
  }
  @media #{$xl-up} {
    padding-bottom: 100px;
  }

  /* stylelint-disable */

  .ora-btn-box {
    width: 48%;

    @media #{$phone-only} {
      width: 100%;
    }

    a.--lighter {
      display: inline-block;

      &.--generic {
        display: none;
      }
    }

    a.--dark {
      display: none;

      &.--generic {
        display: inline-block;
      }
    }

    @media #{$laptop-up} {
      width: 80%;

      a.--lighter {
        display: none;

        &.--generic {
          display: inline-block;
        }
      }

      a.--dark {
        display: inline-block;

        &.--generic {
          display: none;
        }
      }
    }

    @media #{$xl-up} {
      width: 100%;
    }
  }
  /* stylelint-enable */
}

.ora-dream-hero-content {
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 0;

  @media #{$phone-only} {
    padding-top: 15px;
  }

  @media #{$tablet-only} {
    padding-top: 0;
  }

  .ora-dream-hero-bigtext {
    display: block;
    z-index: 7;
    width: 100%;
    max-width: 1100px;
    height: 0;
    padding-top: 35%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url('../images/p2/dreamhero/build-your.png');

    @media #{$phone-only} {
      margin-top: 20px;
      width: 100%;
    }

    @media #{$tablet-only} {
      width: 90%;
      margin-top: 20px;
    }

    @media #{$laptop-only} {
      width: 75%;
    }

    @media #{$laptop-up} {
      background-image: url('../images/p2/dreamhero/build-your-dream-jeep-horizontal.png');
      padding-top: 7.9%;
    }

    // Dupe Modifiers

    &.--chevy {
      background-image: url('../images/p2/chevy/build-your-truck.png');

      @media #{$laptop-up} {
        background-image: url('../images/p2/chevy/build-your-dream-truck-horizontal.png');
      }
    }

    &.--ram {
      background-image: url('../images/p2/ram/build-your-ram.png');

      @media #{$laptop-up} {
        background-image: url('../images/p2/ram/build-your-dream-ram-horizontal.png');
      }
    }

    &.--toyota {
      background-image: url('../images/p2/toyota/build-your-toyota.png');

      @media #{$laptop-up} {
        background-image: url('../images/p2/toyota/build-your-dream-toyota-horizontal.png');
      }
    }

    &.--ford {
      background-image: url('../images/p2/ford/build-your-ford.png');

      @media #{$laptop-up} {
        background-image: url('../images/p2/ford/build-your-dream-ford-horizontal.png');
      }
    }

    &.--generic {
      background-image: url('../images/p2/generic/build-your-truck.png');

      @media #{$laptop-up} {
        background-image: url('../images/p2/generic/build-your-dream-truck-horizontal.png');
      }
    }
  }
}

.ora-dream-hero-content-sub {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 5px;

  @media #{$tablet-up} {
    margin-top: 0;
  }

  @media #{$laptop-up} {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  @media #{$xl-up} {
    margin-top: -15px;
  }

  .ora-dream-hero-image {
    display: block;
    z-index: 7;
    width: 650px;
    height: 450px;
    background-image: url('../images/p2/dreamhero/hero-jeep-cutout.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    order: 2;

    @media #{$phone-only} {
      max-width: 90vw;
      height: 0;
      margin-top: 35px;
      padding-top: 60.12%;
      width: 100%;
    }

    @media #{$tablet-only} {
      width: 650px;
      height: 450px;
      margin-top: 0;
    }

    @media #{$laptop-up} {
      order: 1;
    }

    // Dupe Modifiers
    
    &.--chevy {
      background-image: url('../images/p2/chevy/hero-chevy-cutout.png');
    }


    &.--ford {
      background-image: url('../images/p2/ford/hero-ford-cutout.png');
    }

    &.--ram {
      background-image: url('../images/p2/ram/hero-ram-cutout.png');
    }

    &.--toyota {
      background-image: url('../images/p2/toyota/hero-toyota-cutout.png');
    }

    &.--generic {
      background-image: url('../images/p2/generic/hero-truck-cutout.png');
      margin-right: 25px;
    }
  }

  .ora-dream-hero-textbox {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 68%;
    order: 1;

    @media #{$phone-only} {
      width: 84%;
    }

    @media #{$laptop-up} {
      width: 350px;
      order: 2;
    }

    @media #{$laptop-only} {
      padding-top: 50px;
    }

    h3 {
      text-shadow: 0 0 47.5px #000000;
      text-transform: uppercase;
      margin-bottom: 25px;

      @media #{$laptop-up} {
        margin-bottom: 50px;
      }
    }
  }
}

// Background Styles

.ora-dream-hero-bg {
  z-index: -1;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.ora-dream-hero-bg-grid {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.ora-dream-hero-bg-grid-item {
  width: 50%;
  height: 175px;
  background-color: #202020;
  background-size: cover;
  background-repeat: no-repeat;

  @media #{$phone-only} {
    height: 240px;
  }

  @media #{$tablet-only} {
    height: 350px;
  }

  @media #{$laptop-up} {
    width: 25%;
    height: 420px;
  }

  &.--rock {
    background-image: url('../images/p2/dreamhero/hero-rocks.png');
  }

  &.--mud {
    background-image: url('../images/p2/dreamhero/hero-mud.png');
  }

  &.--road {
    background-image: url('../images/p2/dreamhero/hero-paved-road.png');
  }

  &.--ice {
    background-image: url('../images/p2/dreamhero/hero-winter-road.png');
  }
}

.ora-dream-hero-bg-green {
  width: 100%;
  height: 100px;
  background-color: $ora-green;

  &.--generic {
    background-color: $ora-darkgrey;
  }

  @media #{$tablet-only} {
    height: 135px;
  }

  @media #{$laptop-up} {
    height: 150px;
  }
}
