.ora-quote {
  width: 100%;
  position: relative;
  background-color: $ora-darkgrey;
}

.ora-quote-content {
  max-width: 90%;
  margin: 0 auto;
  z-index: 5;
  position: relative;
  display: flex;

  @media #{$tablet-only} {
    width: 90%;
  }

  @media #{$laptop-only} {
    width: 800px;
  }

  @media #{$desktop-up} {
    width: 950px;
  }
}

.ora-quote-bg {
  width: 100%;
  background-color: $ora-grey;
  position: absolute;
  bottom: 0;
  height: 50%;
  z-index: 2;
}

.ora-quote-content-left {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/p2/jeep-offroad-form.png');

  @media #{$phone-only} {
    display: none;
  }

  // Dupe Mods

  &.--chevy {
    background-image: url('../images/p2/chevy/chevy-form.png');
  }

  &.--ford {
    background-image: url('../images/p2/ford/ford-form.png');
  }

  &.--toyota {
    background-image: url('../images/p2/toyota/toyota-form.png');
  }

  &.--ram {
    background-image: url('../images/p2/ram/ram-form.png');
  }

  &.--generic {
    background-image: url('../images/p2/generic/truck-form.png');
  }
}

.ora-quote-content-right {
  width: 100%;
  background: $white;
  padding: 25px 25px 35px;

  @media #{$tablet-up} {
    width: 50%;
    padding: 25px 25px 35px;
  }

  @media #{$laptop-up} {
    padding: 35px 35px 40px;
  }

  .ora-quote-pretitle {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
  }
}

// QUOTE BLURB STYLES

.ora-quote-blurb {
  width: 100%;
  position: relative;
  background: $ora-grey;

  &.--generic {
    background: $ora-darkgrey;
  }
}

.ora-quote-blurb-content {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 75px 5% 25px;
  width: 100%;

  @media #{$tablet-only} {
    padding: 75px 5%;
  }

  @media #{$laptop-up} {
    padding: 50px 25px;
    width: 1000px;
  }
}

.ora-quote-blurb-left {
  width: 100%;
  background-image: url('../images/p2/build-your-dream-jeep-verticalish.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;

  // Dupe Mods

  &.--chevy {
    background-image: url('../images/p2/chevy/build-your-dream-truck-verticalish.png');
  }

  &.--ford {
    background-image: url('../images/p2/ford/build-your-dream-ford-verticalish.png');
  }

  &.--ram {
    background-image: url('../images/p2/ram/build-your-dream-ram-verticalish.png');
  }

  &.--toyota {
    background-image: url('../images/p2/toyota/build-your-dream-toyota-verticalish.png');
  }

  &.--generic {
    background-image: url('../images/p2/generic/build-your-dream-truck-verticalish.png');
  }

  // Responsive

  @media #{$phone-only} {
    height: 100px;
  }

  @media #{$tablet-only} {
    width: 600px;
    height: 125px;
  }

  @media #{$laptop-up} {
    width: 275px;
    background-image: url('../images/p2/build-your-dream-jeep-stacked.png');

    &.--chevy {
      background-image: url('../images/p2/chevy/build-your-dream-truck-stacked.png');
    }

    &.--ford {
      background-image: url('../images/p2/ford/build-your-dream-ford-stacked.png');
    }

    &.--ram {
      background-image: url('../images/p2/ram/build-your-dream-ram-stacked.png');
    }

    &.--toyota {
      background-image: url('../images/p2/toyota/build-your-dream-toyota-stacked.png');
    }

    &.--generic {
      background-image: url('../images/p2/generic/build-your-dream-truck-stacked.png');
    }
  }
}

.ora-quote-blurb-right {
  width: 100%;

  @media #{$phone-only} {
    margin-top: 15px;
  }

  @media #{$tablet-only} {
    margin-top: 25px;
  }

  @media #{$laptop-up} {
    width: 50%;
  }

  p {
    font-size: 16px;

    @media #{$tablet-up} {
      font-size: 24px;
    }
  }
}
